.topArticle {
  padding: 0 16px;
  margin-top: 29px;
  margin-bottom: 104px;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 23.5px;
    }
  }

  &__item {
    margin-bottom: 30px;
    text-align: center;
  }

  &__imgWrapper {
    margin-bottom: 13px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 19px;
    margin-bottom: 21px;
  }
}
